---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const { slug } = Astro.params;
if (!slug) throw new Error('Slug not found');
const game = await getEntry('games', slug);

if (!game) throw new Error('No post found for this slug');

// Generate static pages
export async function getStaticPaths() {
  const games = await getCollection('games');
  return games.map(game => ({ params: { slug: game.id } }));
}
---

<Layout title={game.data.title}>
  <h1 class="text-2xl">{game.data.title}</h1>
</Layout>
